body{
    background-color: rgb(255, 149, 207);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    text-align: center;
    font-size: xxx-large;
    font-weight: solid;
    color: rgb(237, 236, 236);
}

#img1{
    padding-bottom: 30px;
    margin-left: 70px;
    transform: rotateY(100deg);
    transform: rotateX(40deg);
}

#img2{
    padding-top: none;
    position: absolute;
    top: 20%;
    left: 52%;
    transform: rotateY(100deg);
    transform: rotateX(40deg);
    
}

#rock{
    position: absolute;
    left: 400px;
    top: 100%;
    visibility: hidden;
}

#paper{
    position: absolute;
    left: 550px;
    top: 100%;
    visibility: hidden;
}

#scissors{
    position: absolute;
    top: 100%;
    left: 700px;
    visibility: hidden;

}
button{
    height: 80px;
    width: 140px;
    font-size: x-large;
    font-weight: bold;
    background-color: rgba(228, 149, 149, 0.144);
    color:rgb(4, 24, 251);
    border: solid 4px rgb(243, 17, 243);
    border-radius: 44px;
    cursor: pointer;
    top: 100%;
}

#start{
    background-color: blanchedalmond;
    position: absolute;
    top: 100%;
    left: 45%;
}

@keyframes shakeLeft {
    0%{
        transform: rotateY(180deg) translateX(0px);
    }
    50%{transform: rotateY(180deg) translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes shakeRight{
    0%{
        transform: translateY(0px);
    }
    50%{transform: translateY(-50px)
    }
    100%{
        transform: translateY(0px);
    }
}